@use './variables' as *;

main {
    background-color: $primary;

    .big_container {
        background-color: $primary;

        .form-select {
            width: 20%;
        }

        .small_container {
            background-color: $light;

            .founded_cards {
                background-color: $dark;
                color: $light;
            }

            .card {
                background-color: $primary;
                height: 100%;

                .card-body {

                    h5 {
                        color: $light;
                        height: 70%;
                    }

                    p {
                        color: $dark;
                        height: 30%;
                    }
                }
            }
        }
    }
}